@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic);

@import "compass/css3";

body {
	font-family: 'Ubuntu', sans-serif;
}

$main: #FE030A;
$second: #666666;
$third: #DDDDDD;


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
}
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.row:before, .row:after {
	content: " ";
	display: table;
}

@media only screen and (min-width: 64.063em) {
	[class*="column"] + [class*="column"]:last-child {
		float: right;
	}
	.large-1 {
		position: relative;
		width: 8.33333%; }
	.large-2 {
		position: relative;
		width: 16.66667%; }
	.large-3 {
		position: relative;
		width: 25%; }
	.large-4 {
		position: relative;
		width: 33.33333%; }
	.large-5 {
		position: relative;
		width: 41.66667%; }
	.large-6 {
		position: relative;
		width: 50%; }
	.large-7 {
		position: relative;
		width: 58.33333%; }
	.large-8 {
		position: relative;
		width: 66.66667%; }
	.large-9 {
		position: relative;
		width: 75%; }
	.large-10 {
		position: relative;
		width: 83.33333%; }
	.large-11 {
		position: relative;
		width: 91.66667%; }
	.large-12 {
		position: relative;
		width: 100%; }
	.column, .columns {
		position: relative;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		float: left;
	}
}

/* We use this to get basic styling on all basic form elements */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="month"][disabled], input[type="week"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
    background-color: #dddddd; }

/* Adjust margin for form elements below */
input[type="file"], input[type="checkbox"], input[type="radio"], select {
  margin: 0 0 1rem 0; }

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

label {
  font-size: 0.77778rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.44444rem;
  /* Styles for required inputs */ }
  label.right {
    float: none;
    text-align: right; }
  label.inline {
    margin: 0 0 0.88889rem 0;
    padding: 0.55556rem 0; }
  label small {
    text-transform: capitalize;
    color: #686868; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }


.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

/* Helpful Typography Defaults */
em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

.light-button {
	border: 1px solid #AAAAAA;
	@include border-radius(5px);
	background-color: #FFFFFF;
	@include box-shadow(0 3px 0 #AAA);
	color: #AAAAAA;
}

table {
  background: white;
  margin-bottom: 1.11111rem;
  border: solid 1px #dddddd; }
  table thead, table tfoot {
    background: whitesmoke; }
    table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
      padding: 0.44444rem 0.55556rem 0.55556rem;
      font-size: 0.77778rem;
      font-weight: bold;
      color: #222222;
      text-align: left; }
  table tr th, table tr td {
    padding: 0.5rem 0.55556rem;
    font-size: 0.77778rem;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }
  table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    display: table-cell;
    line-height: 1rem; }

#user-login-button {
	margin: 5px 0 0 5px;
}

#header {
	height: 90px;
	overflow: hidden;
	margin-bottom: 25px;
	.brand {
		float: left;
		margin: 0;
	}
	.right {
		float: right;
		margin-top: 21px;
	}
}

.wrapper-960 {
	width: 960px;
	margin: 0 auto;
}

.main-nav {
	margin-bottom: 23px;
	overflow: hidden;

	> div {
		left: -70px;
		position: relative;
		@include single-transition(left);
	}
	&.opened > div {
		left: 0;
	}

	a {
		color: #000;
		font-size: 12px;
		border-bottom: 2px solid $main;
		width: 180px;
		line-height: 42px;
		display: inline-block;
		margin-right: 23px;
		@include single-transition(border-bottom);

		&:hover {
			border-bottom: 2px solid #000;
		}

		&.home-link {
			width: 44px;
			height: 44px;
			background: url(../img/home.png) 0 0 no-repeat;
			text-indent: -9999px;
			display: inline-block;
		}


		&.active {
			background-color: $main;
			color: #fff;
			border-bottom: 2px solid #000;
			padding-left: 5px;
		}
	}
}

#home-section {
	h2 {
		margin-top: 60px;
		color: $main;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 37px;
		text-align: center;
	}
	h3 {
		color: $second;
		font-size: 18px;
		text-align: center;
	}
}


.super-form {
	text-align: center;
	width: 680px;
	margin: 60px auto 60px;

	input {
		border: 12px solid $third;
		width: 592px;
		height: 79px;
		padding-left: 10px;
		float: left;
		font-size: 1.5em;
	}
}

.main-search-btn {
	width: 79px;
	height: 79px;
	background: url(../img/buscar.jpg) 0 0 no-repeat;
	display: inline-block;
	text-indent: -9999px;
	margin: 0;
	&:hover {
		background: url(../img/buscar.jpg) -79px 0 no-repeat;
	}
}


.main-disclaimer {
	p {
		font-size: 12px;
		margin-bottom: 15px;
	}
}


.section-content {
	display: none;
	margin: 50px 0 30px;

	&.section-active {
		display: block;
	}

	h2, h3 { color: $main; }

	h2, h3, h4 {
		margin-bottom: 1em;
	}

	h2 {
		font-weight: bold;
		font-size: 20px;
	}
	h3 {
		font-weight: bold;
		font-size: 18px;
	}
	h4 {
		color: #000;
		font-weight: bold;
		font-size: 14px;
	}

	p, ul li {
		font-size: 14px;
	}
	ul{ 
		margin: .5em 0;
		li {
			list-style: initial;
			margin-left: 30px;
			margin-bottom: .3em;
		}
	}
	p {
		margin-bottom: 1em;
		line-height: 1.4em;
	}
}

.outer-nav.right {
	right: 10%;
}

.search-box-search {
	overflow: hidden;
	width: 510px;
}
#search-input-search {
	width: 450px;
	height: 54px;
	background: white;
	border: 7px solid #B3B3B3;
	color: black;
	float: left;
}
#search-button-search {
	width: 54px;
	height: 54px;
	text-indent: -9999px;
	display: inline-block;
	background: url(../img/buscar2.jpg) 0 0 no-repeat;
	float: left;
	margin: 0;
	padding: 0;

	&:hover {
		background: url(../img/buscar2.jpg) -55px 0 no-repeat;
		
	}
}

.search-results-data {
	clear: both;
	font-size: 24px;
	color: #666;
	margin: .5em 0 1em;
}

.search-results {
	width: 510px;
	position: relative;
	height: 500px;
	overflow: hidden;

	> div {
		height: 700px;
	}

	h2 {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 5px;
		a { color: #333; }
	}
	h3 {
		font-weight: bold;
		font-size: 14px;
		color: #BF0005;
		margin-bottom: 10px;
	}
	.article-content {
		p {
			color: #000;
			font-size: 14px;
			line-height: 18px;
		}
	}

	.result {
		margin-bottom: 15px;
		padding: 10px;
		cursor: pointer;

		&:hover {
			background: #DDDDDD;
		}
	}
}

.volver {
	color: white;
	background: $main;
	font-size: 18px;
	font-weight: bold;
	display: inline-block !important;
	padding: 10px;

	&:hover {
		color: white !important;
		background: darken($main, 10%);
	}
}

.search-details {
	display: none;
	width: 510px;

	overflow: hidden;

	table th, table td {
		font-size: 14px;
	}
}
.search-details-header {
	h4 {
		font-style: italic;
		font-size: 24px;
		color: #666666;
		line-height: 1.3em;
		font-weight: bold;
	}
	h3 {
		margin-left: 1em;
		font-weight: bold;
		font-size: 28px;
		color: #333333;
		line-height: 1.2em;
		margin-bottom: 10px;
	}
}
.search-data {
	font-size: 18px;
	color: #333333;
	margin-bottom: 50px;
	line-height: 1.5em;
	font-weight: bold;

	.large-3 {
		font-style: italic;
		color: #666666;
	}
}

.outer-nav {
	min-height: 500px;
}